@import '/src/assets/stylesheets/general.scss';

/* HEADER */
.header {
  min-height: 100vh;
  @include flex(flex, row, nowrap, space-between, center);
  
  &__left {
    width: 20%;
    z-index: 9999;
  }
  
  &__title {
    font-size: 10rem;
    text-transform: uppercase;
    margin-bottom: 3rem
  }

  &__btn {
    @include btn-border($white-color, $black-color);
    font-size: 2.4rem;
    
    &:hover {
      @include btn($black-color, $white-color);
      font-size: 2.4rem;
    }
  }
  
  &__center {
    width: 60%;
    z-index: 0;
  }

  &__right {
    width: 20%;
  }
  
  &__subtitle {
    font-size: 2.5rem;
  }
}


/* PRODUCTS */
.products {
  text-align: center;

  &__title {
    margin-bottom: 5rem;
  }
}

.products-card {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  gap: 1rem
}



/* CATEGORIES */
.categories {
  padding: 10rem 0;
}