@import '/src/assets/stylesheets/general.scss';

.product-card {
  @include flex(flex, row, wrap, flex-start, flex-start)
}

.header {
  min-height: 100vh;
}

.images {
  width: 100%;

  &__div {
    width: fit-content;
  }
}